<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ 'SiteTitle'|trans }}</title>
    <link rel="shortcut icon" type="image/png"  href="/favicon.png">

		<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/eatme.css') }}" rel="stylesheet">
{% set metas = {
	'og:type'	: 'website',
	'og:site_name' : 'SiteTitle'|trans
}|merge(metas|default({})) %}

{% if metas is defined %}
	{% for key, value in metas if '' != value %}
	  <meta property="{{ key }}" content="{{ value }}" />
	{% endfor %}
{% endif %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>  
  	<div class="container">
  		<div class="header clearfix fit-container">
		    <nav>
          <ul class="nav nav-pills pull-right">
          	<li {% if 'homepage' == mainNavItem %}class="active"{% endif %}><a href="{{ url('homepage') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="hidden-xs">{{ 'Homepage'|trans }}</span></a></li>
          	<li {% if 'recipies' == mainNavItem %}class="active"{% endif %}><a href="{{ url('recipies', {page:1}) }}"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span><span class="hidden-xs">{{ 'Recipies'|trans }}</span></a></li>
            {% if is_granted('ROLE_USER') %}
              <li><a href="{{ path('recipieCreateOUpdate') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="hidden-xs">{{ 'Menu.New_Recipie'|trans }}</span></a></li>
	            {% if is_granted('ROLE_ADMIN') %}
							 <li  {% if 'admin' == mainNavItem %}class="active"{% endif %} role="presentation" class="dropdown">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							      <span class="glyphicon glyphicon-lock" aria-hidden="true"></span><span class="hidden-xs">{{ 'Admin'|trans}}</span> <span class="caret"></span>
							    </a>
							    <ul class="dropdown-menu">
			              <li><a href="{{ path('tagList') }}"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>{{ 'Tags'|trans }}</a></li>
			              <li><a href="{{ path('categoryList') }}"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>{{ 'Categories'|trans }}</a></li>
			              <li><a href="{{ path('userList') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ 'Users'|trans }}</a></li>
			              <li><a href="{{ path('adminNormalize') }}"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span>{{ 'Normalize'|trans }}</a></li>
							    </ul>
							  </li>            
	            {% endif %}
              <li><a href="{{ path('myAccount') }}" title="{{ 'Menu.MyAccount'|trans }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>              
              <li><a href="{{ path('logout') }}" title="{{ 'Menu.Logout'|trans }} ({{ app.user.name }})"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>              
            {% else %}
              <li {% if 'account' == mainNavItem %}class="active"{% endif %}><a href="{{ path('login') }}" title="{{ 'Login'|trans }}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
            {% endif %}
          </ul>
		    </nav>
		    <h3 class="text-muted"><a href="{{ url('homepage') }}">{{ 'SiteName'|trans }}</a></h3>
		    
      </div>
      
      {% block breadcrumb '' %}
	    
	    <div class="alerts">
      {% for alert in [ 'info', 'success', 'warning', 'danger'] %}
          {% for message in app.session.getFlashBag.get(alert) %}
              <div class="alert alert-{{ alert }} alert-dismissible" role="alert">
<!--                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                {{ message|trans }}
              </div>
          {% endfor %}
      {% endfor %}
      </div>
      <div class="content">
      	{% block content '' %}
      </div>
      
			<footer class="footer fit-container">
        <p class="text-center">{{ 'Footer.text'|trans}}</p>
      </footer>      
    </div>
    
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
  	{% block pagejs '' %}
      
  </body>
</html>